extends layout/base

block block
    .col-9.background_color.m-0.height-100.over-flow
        .p-2.background_white.shadow.mt-2.rounded
            .d-flex.justify-content-between.align-items-center
                .form-group.has-search.position-relative
                    span.bi.bi-search.form-control-feedback
                    input.form-control(type='text' placeholder='Search')
                img.icon(src='./Assets/Images/icon.png' alt='user-profile')
        .p-2.background_white.shadow.mt-2.rounded
            .d-flex.justify-content-between
                h6.fs-5.fw-bold.second-color App Reports
                h6.main_background.btn.btn-primary(data-bs-toggle='modal' data-bs-target='#staticBackdrop') + Add Category 
                #staticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
                    .modal-dialog.modal-dialog-scrollable
                        .modal-content
                            .modal-header
                                h1#staticBackdropLabel.modal-title.fs-5
                                    | Add New Category
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .modal-body
                                form#add_new_category
                                    label.form-label.fw-bold.mt-3(for='name') Category Name
                                    input#name.form-control.input-shadow(type='text' placeholder='Full name' required='')
                                    //- label.form-label.fw-bold.mt-3(for='name') For
                                    //- select.form-select#webiste(aria-label='Default select example')
                                        option(selected='' value="" disabled) -- Select the Website --
                                        option(value="a" ) Themobsterhoard
                                        option(value="b" ) Themobsterstash
                                    label.form-label.fw-bold.mt-3(for='name') Category Image
                                    input#image.form-control.input-shadow(type='file'  required='' limit=1 accept="image/*")
                                    button.btn.btn-primary.main_background.buy-now.d-block.w-50.m-auto.mt-3(type='submit')
                                        | Submit

            #batch-list
                table.table.table-bordered.text-center.mt-3
                    thead
                        tr
                            th(scope='col') S.No
                            th(scope='col') Category name
                            th(scope='col') For
                            th(scope='col') Delete
                    tbody
                        each doc,i in categories
                            tr
                                th(scope='row')= i+1
                                td=doc.name
                                td=doc.for
                                td
                                    button.btn.btn-danger(type="button" class=`delete_category` data-id=doc.ecmcId) Delete
        nav.mt-5(aria-label='Page navigation example')
            ul.pagination.justify-content-center
                li.page-item
                    a.page-link.pagination_manage(type="button" aria-label='Previous' data-type="pre")
                        span(aria-hidden='true') &laquo;
                li.page-item
                    - const datas = new URL(url);
                    - let num = datas.searchParams.get('page');
                    - num = !!num*1?num : 1;
                    a.page-link.active#page_no()=num 
                li.page-item
                    button.page-link.pagination_manage(type="button" aria-label='Next' disabled=categories.length ? false : true class=categories.length ? "" :"bg-light" data-type="next")
                        span(aria-hidden='true' ) &raquo;
